.lineText::before {
  content: '____________________________________';
  padding: 5px;
  text-align: 'left';
  opacity: 0.5;
}

.lineText::after {
  content: '___________________________________';
  padding: 5px;
  text-align: 'right';
  opacity: 0.5;
}
